div {
    box-sizing: border-box;
}

.gallery-container {
    width: 1000px;
    margin: auto;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 188px;
}
.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    .gallery-container {
        width: 100%;
    }
}
/* iphone */
@media (max-width: 500px) {
    .gallery-container {
        width: 100%;
    }
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}