*.class
*.exe
*tempCodeRunnerFile.cpp
.vscode
.vs
Advanced Algorithms/cafe/main
Advanced Algorithms/cafe/cafe
Web Application/POS/*
Web Application/Contact/*
Web Design/02-Float/gallery float/float/js/jquery.js
Web Design/03-Flexbox/gallery flexbox/flexbox/js/jquery.js
