# VSCode
.vs
.vscode

# Coode Runner
*tempCodeRunnerFile.*

# Compiled files
*.class
*.exe

# Test files
*test.*
_*


# Version controlled seperately
Advanced Algorithms/cafe/main
Advanced Algorithms/cafe/cafe
Web Application/POS/*
Web Application/Contact/*
Automata/Automata Bot

# Others
*.pdf