# VSCode
.vs
.vscode

# Coode Runner
*tempCodeRunnerFile.*

# Compiled files
*.class
*.exe

# Test files
*.test.*
_*


# Version controlled separately
Advanced Algorithms/cafe/main
Advanced Algorithms/cafe/cafe
Web Application/POS/*
Web Application/Contact/*
Automata/Automata Bot
Advanced Mobile Development/blablabla

# Others
.env
*.pdf
*.zip
.DS_Store