@font-face {
	font-family: "Mada Medium";
	src: url("../assets/fonts/Mada-Medium.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mada Medium";
}

/* header & navbar */

header {
	position: absolute;
	width: 100%;
	background-color: #efefef;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
}

nav {
	max-width: 1700px;
	margin: 0 auto;
	padding: 0 2rem;
	justify-content: space-between;
	align-items: center;
	/* backdrop-filter: blur(20px); */
}

.logo {
	height: 68px;
	float: left;
}

.nav {
	float: right;
	list-style: none;
	margin-top: 25px;
}

#hamburger {
	font-size: 25px;
	position: absolute;
	top: 22px;
	right: 30px;
	opacity: 0%;
	transition: all 0.2s ease;
}

.nav li {
	float: left;
}

.nav li a {
	text-decoration: none;
	color: #333;
	padding: 0 1rem;
	font-size: 16px;
	opacity: 100%;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

.nav li a:hover {
	text-decoration: underline;
}

nav::after {
	content: "";
	clear: both;
	display: table;
}

@media screen and (max-width: 600px){
	.nav li a {
		padding: 0 1.5vw;
	}
}

@media screen and (max-width: 450px){
	.nav li a  {
		font-size: 0;
		opacity: 0%;
	}

	#hamburger {
		opacity: 100%;
	}
}

@media screen and (max-width: 405px){
	ul {
		display: none;
	}
}